<div class="loginContainer">  
  <div class="container">
    <div class="row justify-content-md-center ">
      <div class="col-md-3">
        <div class="avatarFrame-Online" >
          <img class="avatarimage img-fluid mt15 mb15 " src="assets/img/generic_avatar.png" alt="">
        </div>
      </div>
    </div>

    <div class="row justify-content-md-center ">
      <div class="col-md-6">
        <div class="center ">
          <h3>Sign In</h3>
        </div>
        <div class="borderedContainer">
          <input type="email" placeholder="Email" class="form-control mt-5" id="">
          <input type="password" placeholder="Password" class="form-control mt-2" id="">
          <p class="mt-2" >Sign in as

            <select name="" id="">
              <option value="online">online</option>
              <option value="offline">offline</option>
              <option value="busy">busy</option>
              <option value="away">away</option>
            </select>
          </p>

          <div class="center">
            <button href="#" class="  ">Sign In</button>
            <P>Don't have a Windows Live ID? <a href="btn-btn-link">Sign up</a></P>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>