/* You can add global styles to this file, and also import other style files */
.center {
    text-align: center !important;
}

.mt15 {
    margin-top: 15px;
}

.mb15 {
    margin-bottom: 15px;
}

.avatarFrameOffline {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #eae5e5 45%, #c1bdbd 47%, #bab6b6 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #eae5e5 45%, #c1bdbd 47%, #bab6b6 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #eae5e5 45%, #c1bdbd 47%, #bab6b6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#bab6b6', GradientType=0);
    text-align: center;
    padding: 5%;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.36);
    -webkit-box-shadow: 3px3px21px1pxrgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px3px21px1pxrgba(0, 0, 0, 0.75);
    box-shadow: 3px3px21px1pxrgba(0, 0, 0, 0.75);
    display: inline-block;
  }
  
  .avatarFrameOnLine {
    background: #d2ff6b;
    background: -moz-linear-gradient(top, #d2ff6b 0%, #81ff3d 50%, #0cff00 51%, #0dbc03 100%);
    background: -webkit-linear-gradient(top, #d2ff6b 0%, #81ff3d 50%, #0cff00 51%, #0dbc03 100%);
    background: linear-gradient(to bottom, #d2ff6b 0%, #81ff3d 50%, #0cff00 51%, #0dbc03 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d2ff6b', endColorstr='#0dbc03', GradientType=0);
    text-align: center;
    padding: 5%;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.36);
    -webkit-box-shadow: 3px3px21px1pxrgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px3px21px1pxrgba(0, 0, 0, 0.75);
    box-shadow: 3px3px21px1pxrgba(0, 0, 0, 0.75);
    display: inline-block;
  }

.generalContent {
    margin-top: 56px;
}