/* You can add global styles to this file, and also import other style files */
.center {
    text-align: center !important;
}

.mt15 {
    margin-top: 15px;
}

.mb15 {
    margin-bottom: 15px;
}

.generalContent {
    margin-top: 56px;
}