<p *ngIf="!friends" >
  No hay amigos
</p>

<br>

<input type="text" placeholder="Search..." [(ngModel)]="query" >

<div class="container">

  <div *ngFor="let user of friends | search: query ; let i = index" >
    <a routerLink="/conversation/{{ user.uid }}" >
      <div class="row">
        
        <h3> 
          <p>
              <img id="status" src="assets/img/logo_live_{{user.status}}.png" alt="user status">
              Name {{user.nick}} {{i}}
          </p>
        </h3>
      </div>
    </a>
    <p> {{ user.subnick }} </p>
    <p *ngIf="user.age"> Age: {{ user.age }} </p>
    <p> Is a {{ user.friend }} friend. </p>
  </div>
</div>