<div class="registerContainer">  
    <div class="container">
      <div class="row justify-content-md-center ">
        <div class="col-md-3">
          <div class="avatarFrame-Online" >
            <img class="avatarimage img-fluid mt15 mb15 " src="assets/img/generic_avatar.png" alt="">
          </div>
        </div>
      </div>
  
      <div class="row justify-content-md-center ">
        <div class="col-md-6">
          <div class="center ">
            <h3>Sign Up</h3>
          </div>
          <div class="borderedContainer">
            <input type="email" placeholder="Email" class="form-control mt-5" >
            <input type="password" placeholder="Password" class="form-control mt-2">
            <input type="text" placeholder="Nickname" class="form-control mt-2">
            <p class="mt-2" >Sign in as
  
              <select disabled >
                <option value="online">online</option>
              </select>
            </p>
  
            <div class="center">
              <button href="#" class="  ">Sign In</button>
              <P class="text" >Already has a account?<a routerLink="/login" class="button-link" >Sign in</a></P>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>